.container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.top{
  display: flex;
}

/* .imgContainer{
  width: 90%;
  height: 400px;
  position: relative;
}

.img{
  object-fit: cover;
} */
.imgContainer {
  width: 90%;
  height: 400px;
  position: relative;
  overflow: hidden; /* Prevents overflow of the image */
}

.img {
  object-fit: contain; /* Use contain to preserve aspect ratio */
  width: auto; /* Let width adjust automatically */
  height: 100%; /* Full height of the container */
}

.date{
  font-size: 12px;
  transform: rotate(270deg);
  margin: auto;
}

.title{
  width: 90%;
  font-size: 24px;
  margin-bottom: 20px;
}

.desc{
  width: 90%;
  margin-bottom: 20px;
  font-weight: 300;
  color: gray;
}

.link{
  text-decoration: underline;
}